// body{
//     margin: 0;
// }

// .navbar{
//     display: flex;
//     flex-direction: column;
// }

// .sidenav{
//     flex-direction: column; 
//     height: 100%;  
//     width: 25%;  
//     position: fixed; 
//     z-index: 1; 
//     top: 0; 
//     left: 0; 
//     background-color:#232323; 
//     transition: .5s ease; 
//     overflow-x: hidden; 
//     padding-top: 20px; 
//     display: flex; 
//     align-items: center;
// }


body {
    margin: 0;
    padding: 0;
    color: #000;
  }
  
  .wrapper {
    float: right;
    width: 100%;
  }
  
  .content {
    margin-left: 320px;
    padding-left: 25px;
    clear: both;
    overflow: auto;
    background: #fff;
    height: 100vh;
  }
  
  .contentHeader {
    margin-bottom: 15px;
    border-bottom: solid rgb(153, 153, 153);
  }
  
  .contentHeader h1 {
      font-size: 60px;
      font-family: 'Mukta-Extra-Bold';
      color: #E8E8E8;
      line-height: 60px;
      margin: 10px 0;
      margin-bottom: 0;
    }
  
  .contentHeader h2 {
      margin: 0px;
      padding: 0;
      padding-bottom: 15px;
      font-size: 25px;
      color: #d1d1d1;
    }
  
  .sidebar {
    text-align: center;
  
    position: relative;
    width: 320px;
    margin-right: -320px;
    float: right;
    overflow: hidden;
    background: rgb(54,62,73);
    color: #eee;
    height: 100vh;
  
    -moz-box-shadow:    3px 0 5px 0 #555;
    -webkit-box-shadow: 3px 0 5px 0 #555;
    box-shadow:         3px 0 5px 0 #555;
  }
  
  @media only screen and (max-width: 768px) {
    .sidebar {
      display: none;
    }
    .content {
      margin-left: 0;
    }
  }

  
